@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Nunito:ital,wght@1,700&family=Updock:wght@500&display=swap");
*{
transition: left 1s ease, top 0.7s ease, width 1s ease;
 user-select: none; 
}
.you,.me{
font-family: 'Nunito' ,sans-serif;
font-size: 18px;
}
.you{
color: rgb(252,119,109);
}
.me{
color: rgb(60,252,131);
}
b{
font-family: 'Updock', sans-serif;
color: #8942a8;
font-family: 'Quicksand', sans-serif;
}
#syn,#message,select{
            padding: 10px 16px;
            color: rgb(255,44,44);
            font-family: 'Quicksand', sans-serif;
            text-align: center;
            font-weight: 700;
            font-size: 15px;
            border-radius: 50px;
            outline: none;  
            }
.speak{
        border-bottom: solid;
        border-radius: 0 50px;
        margin-top: 0;
        padding: 9px;
        background-color: rgba(190,190,190,0.5);
      font-family: 'Quicksand', sans-serif;
        }
        .command{
        margin-bottom: 0;
        border-radius: 50px 0;
        padding: 9px;
        background-color: rgba(190,190,190,0.5);
        font-family: 'Quicksand', sans-serif;
        }
.history{
margin-top: 0;
overflow: scroll;
height: 90%;
}
.swipe_card{
display: none;
position: absolute;
background-color: rgb(222,222,222);
bottom: 0px;
height: 0;
width: 100vw;
filter: opacity(0%);
box-shadow: 0 -5px 5px rgba(250,250,250,0.2);
border-radius: 10px 10px 0 0;
transition: all 0.5s ease;
}
.dark .swipe_card{
background-color: #333333;
color: white;
}
.swipe_card_o{
display: initial;
 justify-content: space-between;
height: 70vh;
filter: opacity(100%);
}
#save{
position: absolute;
bottom: 20px;
right: 20px;
border: none;
color: rgb(132,162,250);
background-color: rgb(0,0,0,0);
}
#cancel{
position: absolute;
bottom: 20px;
right: 70px;
border: none;
color: rgb(132,162,250);
background-color: rgb(0,0,0,0);
}
h2 {
 padding-top: 23px;
 margin-top: 0;
 border-radius: 10px 10px 0 0;
 border-bottom: solid 1px;
 text-align: center;
 margin-bottom: 0;
 box-shadow: 0 5px 5px rgba(0,0,0,0.3), inset 2px 2px 5px rgba(255,255,255,0.8), inset -2px -2px 5px rgba(255,255,255,0.8);
}
.dark h2{
box-shadow: 0 5px 5px rgb(220,220,220,0.2), inset 2px 2px 5px rgba(22,2,2,0.5), inset -2px 0 5px rgba(2,2,2,0.5);
}
#setting_m{
position: absolute;
top: 17px;
right: 17px;
height: 25px;
color: white;
background-color: #006880;
padding: 12px;
border-radius: 20px;
transition: all 0.3s ease;
}
.setting_mn{
height: 75px !important;
transition: height 0.3s ease;
}
#s_m{
transform: rotate(360deg);
transition: all 0.3s ease;
}
.s_n{
border-bottom: solid;
transition: all 0.3s ease;
}
.setting_bn{
opacity: 1 !important;
visibility: visible !important;
transition: all 0.3s ease;
}
.hed_nav{
width: auto;
height: auto;
opacity: 0;
visibility: hidden;
background-color: rgba(250,250,255,0);
box-shadow: 0 -5px 5px rgb(0,0,0,0.1);
transition: all 0.3s ease;
}
body {
 margin: 0;
 padding: 0;
 background-color: rgb(240, 98, 98);
}
.light{
background-color: rgba(252,252,252,1);
}
.dark{
background-color: rgba(52,52,52,1);
}
  @keyframes speak{
  0%,100%{height:0px;width:17px; border-radius:solid white 0px; left:-4px; border-top: 0px; top: 11px;}
  25%,75%{height:0px;width:35px; border-radius:13px; left:-4px; border:solid rgb(255,190,190) 3px; top: 11px;}
  50%{height:3px;width:27px; border-radius:22px; left:-7px; border: solid rgb(255,190,190) 7px; top: 4px;}
  }
  @keyframes smile{
  0%,100%{height:7px;width:17px; border-radius:0px; left:70px;}
  50%{height:13px;width:40px; border-radius:0 0 25px 25px; left:54px;}
  }
  #voiceList{
  visibility: hidden;
  }
  #btnGiveCommand{
  position: absolute;
  color: white;
  right: 20px;
  width: 25px;
  height: 25px;
  padding: 15px;
  bottom: 20px;
  background-color: rgba(210,213,242,0.95);
  border-radius: 20%;
  box-shadow: 3px 3px 5px rgb(0,0,0,0.2);
  }
 #btnGiveCommand:active{
    box-shadow: inset 2px 2px 2px rgb(0,0,0,0.7);
}
  .btnCmd{
  width: 150px !important;
  transition: all 2s ease;
  }
#edit{
     z-index: 0;
     font-family: "Quicksand" , sans-serif;
     display: content;
     color: rgb(132,162,250);
     background-color: rgb(244,240,255);
     border-radius: 39px;
     margin: auto;
     position: absolute;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     height: 290px;
     width: 70vw;
     padding: 20px;
     box-shadow: 17px 12px 5px rgb(0,0,0,0.2);
 }
 .dark #edit{
 background-color: rgb(202,199,209);
 }
 section{
 padding: 15px;
 }
 #mid{
 border-top: solid;
 border-bottom: solid;
 }
    input, select{
    padding: 5px !important;
    } 
.dash{
    height:93vh;
    width:0;
  background-color:rgba(221,213,243,.9);
    position:absolute ;
    top:0px;
    right:85px;
    visibility:hidden;
    opacity: 0;
    box-shadow: -5px 5px 7px rgba(0,0,0,0.5);
    transition: all .5s ease;
}
.dash_o{
    visibility: visible;
    width:300px;
   background-color:rgba(254,253,260,.1);
    position:absolute ;
    top:0px;
    opacity: 1;
    left:0px;
    box-shadow: -5px 5px 7px rgba(0,0,0,0.5);
    transition: all .5s ease;
}
.dark .dash_o{
background-color: rgb(76,76,76);
}
.d_close,.d_close_h{
    position: absolute;
    left: 0;
    top: 0;
    width: 0vw;
    height: 93vh;
    background-color: rgba(0,0,0,0.1);
    transition: all 0.3s ease;
}
.d_close_o,.d_close_h_o{
    width: 100%;
    transition: all 0.1s ease;
    z-index: 0;
}
.about{
position: absolute;
right: 15px;
}
#mimo-install-banner-mobile{
    visibility: hidden !important;
    }
    #mimo-install-banner{
    visibility: hidden !important;
    }
#edit{
    font-family: "Poppins", sans-serif;
    background-color: rgb(211, 211, 255);

    color: rgb(252,252,252);

    height: auto;

    width: 85vw;

    margin: 3%;

    padding: 15px;

    position: absolute;

    bottom:0;

    text-align: center ;

}

:root{

    --skn-clr: rgb(255,242,212);

    --ds-clr: rgb(255,120,49);

    --drs-clr: rgb(255,149,149);

    --hr-clr: rgb(145,94,138);

    --bd-sdw: rgb(255, 137, 120,0.4);

    --bg-clr: rgb(220,220,200);

}

#container{

    height: 555px;

    width: 330px;

    background-color: var(--bg-clr);

    border-radius: 10px;

    margin: auto;

    position: absolute;

    top:0;

    bottom:0;

    left:0;

    right:0;

    z-index: -1;

    overflow: hidden;

 }

 .container{

    animation: blr 2s forwards;

}

#b_hr{

    height:230px;

    width: 170px;

    background-color: var(--hr-clr);

    position: absolute;

    top: 90px;

    left: 75px;

    border-radius: 130px 130px 80px 130px;

    box-shadow: inset 0 5px 2px rgb(220,220,220,0.2);

}

#b2hr{

    height: 150px;

    width: 170px;

    background-color: var(--hr-clr);

    position: relative;

    left: 76px;

    top: 20px;

    border-radius: 70px;

}

#f_hr{

    height: 120px;

    width: 37px;

    background-color: var(--hr-clr);

    z-index:2;

    position: relative;

    left: 72px;

    top: 117px;

    border-radius: 160px 0 160px 20px;

    box-shadow: inset 0 5px 2px rgb(220,220,220,0.2);

    float: left;

}

#f_hr1{

    height: 130px;

    width: 160px;

    background-color: var(--hr-clr);

    z-index:2;

    position: relative;

    left: 92px;

    top: 80px;

    border-radius: 90px  120px 10px 130px;

    box-shadow: inset 2px 5px 2px rgb(220,220,220,0.2);

}

#face{

    height: 130px;

    width: 130px;

    background-color: rgb(255,242,212);

    position: relative;

    left: 95px;

    bottom: 114px;

    border-radius: 0 0 150px 150px;

    z-index: 1;

    box-shadow: inset 0 -5px 2px rgb(255,22,22,0.07);

}

#ey_br{

    height: 25px;

    width: 25px;

    position: absolute;

    left: 13px;

    top: 27px;

    border-top: solid 7px var(--hr-clr);

    border-radius: 105px 17px;

    transform: rotate(10deg);

}

#eye_1{

    height: 25px;

    width: 25px;

    border-radius: 110px 17px;

    background-color: white;

    border: solid;

    position: relative;

    top: 35px;

    left: 22px;

    transform: rotate(45deg);

    float:left;

}

#eye_2{

    height: 25px;

    width: 25px;

    border-radius: 110px 17px;

    background-color: white;

    border: solid;

    position: relative;

    top: 35px;

    left: 83px;

    transform: rotate(45deg);

}

.e_b{

    height: 6px;

    width: 6px;

    border-radius: 17px;

    background-color: #323232;

    border: solid 4px rgb(161,202,241);

    position: relative;

    top: 4px;

    left: 5px;

}

#blush1{

    height: 30px;

    width: 30px;

    border-radius: 30px;

    background-color: pink;

    position: absolute;

    top: 70px;

    left: 15px;

    float: left;

    filter: blur(10px);
    transition: all 1s ease;
}

#blush2{

    height: 30px;

    width: 30px;

    border-radius: 30px;

    background-color: pink;

    position: absolute;

    top: 70px;

    left: 90px;

    float: left;

    filter: blur(10px);
    transition: all 1s ease;
}

#nose{

    height: 13px;

    width: 17px;

    position: relative;

    background-color: var(--skn-clr);

    top: 45px;

    left: 57px;

    border-radius: 2px 2px 15px 15px;

    box-shadow: inset 0 -5px 2px var(--bd-sdw);

}

#mouth{

    height: 23px;

    width: 25px;

    background-color: rgb(255,190,190);

    position: relative;

    top: 50px;

    left: 55px;

    border: solid rgb(255,149,149) 1.5px;

    border-radius: 113px 0 90px 0;

    transform: rotate(43deg);

}

.mouth{

    width: 32px;

    transform: rotate(-43deg);

    border: solid rgb(255,149,149);

    background-color: white;

    position: relative;

    left: -4px;

    top: 11px;
    overflow: hidden;
}

@media screen and ( min-width: 500px)
            {
.mouth{
     border: solid 1.5px rgb(255,149,149);
  }
#eye_1{

border: solid 1.5px;

}

#eye_2{

border: solid 1.5px;

}

}

#neck{

    height: 13px;

    width: 42px;

    background-color: var(--skn-clr);

    position: relative;

    top: -120px;

    left: 140px;

}

#neck2{

    height: 20px;

    width: 57px;

    z-index: 2;

    position: relative;

    top: -173px;

    left: 53px;

    border-radius: 0 0 15px 60px;

}

.dress1,.dress2,.dress3{

    height: 120px;

    width: 167px;

    background-color: var(--drs-clr);

    position: relative;

    left: 77px;

    top: -120px;

    border-radius: 45px 45px 0 0;

    z-index: 1;

}

#hand1{

    height: 30px;

    width: 30px;

    background-color: var(--skn-clr);

    position: relative;

    top: 90px;

    float: left;

}

#hand2{

    height: 30px;

    width: 30px;

    background-color: var(--skn-clr);

    position: relative;

    top: 90px;

    left: 137px;

}

#chest1{

    height: 65px;

    width: 70px;

    background-color: var(--drs-clr);

    z-index: 1;

    position: relative;

    left: 15px;

    top: 10px;

    border-radius: 60px;

    box-shadow: inset 0 -5px 2px var(--bd-sdw);

    float: left;

}

#chest2{

    height: 65px;

    width: 70px;

    background-color: var(--drs-clr);

    z-index: 1;

    position: relative;

    left: 83px;

    top: 10px;

    border-radius: 60px;

    box-shadow: inset 0 -5px 2px var(--bd-sdw);

}

#chest3{

    height: 50px;

    width: 167px;

    background-color: var(--skn-clr);

    z-index: 0;

    position: relative;

    top: -123px;

    border-radius: 45px 45px 0px 0px;

}

#accr{

    height: 20px;

    width: 50px;

    border-bottom: solid 5px rgb(255,210,0);

    z-index: 3;

    position: relative;

    left: 58px;

    top: -50px;

    border-radius: 0 0 90px 90px;

}

#chest4{

    height: 28px;

    width: 20px;

    background-color: var(--skn-clr);

    z-index: 0;

    position: relative;

    left: 75px;

    top: -45px;

}

#pony{

    height: 100px;

    width: 50px;

    z-index: 3;

    background-color: var(--hr-clr);

    position: relative;

    bottom: 180px;

    left: 110px;

    border-radius: 0 0 0 70px;

}

#st1{

    height: 50px;

    width: 5px;

    background-color: rgb(255,120,49);

    position: relative;

    left: 40px;

}

#waist1{

    height: 22px;

    width: 10px;

    z-index:1;

    background-color: var(--bg-clr);

    position: relative;

    top: 5px;

    left: 29px;

    border-radius: 0 160px 50px 0;

    float:left;

}

#waist2{

    height: 22px;

    width: 10px;

    z-index:1;

    background-color: var(--bg-clr);

    position: relative;

    top: 5px;

    left: 127px;

    border-radius: 160px 0 0 50px;

}

.dress2 #neck2{

    background-color: var(--skn-clr);

}

.dress2 #hand1{

    height: 118px;

    width: 30px;

    background-color: var(--skn-clr);

    position: relative;

    top: 2px;

    border-radius: 190px 0 0 0;

    float: left;

}

.dress2 #hand2{

    height: 118px;

    width: 30px;

    background-color: var(--skn-clr);

    border-radius: 0 190px 0 0;

    position: relative;

    top: 2px;

    left: 137px;

}

.dress2 #chest1{

    height: 65px;

    width: 70px;

    background-color: var(--drs-clr);

    z-index: 1;

    position: relative;

    left: 15px;

    top: -80px;

    border-radius: 60px;

    box-shadow: inset 0 -5px 2px var(--bd-sdw);

    float: left;

}

.dress2 #chest2{

    height: 65px;

    width: 70px;

    background-color: var(--drs-clr);

    z-index: 1;

    position: relative;

    left: 83px;

    top: -80px;

    border-radius: 60px;

    box-shadow: inset 0 -5px 2px var(--bd-sdw);

}

.dress2 #chest3{

    height: 50px;

    width: 167px;

    background-color: var(--sn-clr);

    z-index: 0;

    position: relative;

    top: -125px;

    border-radius: 48px 48px 0px 0px;

}

.dress2 #accr{

    height: 17px;

    width: 62px;

    background-color: var(--skn-clr);

    border-bottom: 0px rgb(255,210,0);

    position: relative;

    left: 53px;

    top: -130px;

    border-radius: 90px 30px 90px 90px;

}

.dress2 #chest4{

    height: 45px;

    width: 35px;

    background-color: var(--skn-clr);

    z-index: 0;

    border-radius: 190px 80px 190px 0;

    position: relative;

    left: 10px;

    top: -182px;

}

.dress2 #pony{

    height: 100px;

    width: 50px;

    z-index: 3;

    background-color: var(--hr-clr);

    position: relative;

    top: -285px;

    left: 110px;

    border-radius: 0 0 0 70px;

}

.dress2 #waist1{

    height: 25px;

    width: 9px;

    z-index:1;

    background-color: var(--bg-clr);

    position: relative;

    top: -95px;

    left: 30px;

    border-radius: 0 120px 60px 0;

    float:left;

}

.dress2 #waist2{

    height: 25px;

    width: 9px;

    z-index:1;

    background-color: var(--bg-clr);

    position: relative;

    top: -95px;

    left: 128px;

    border-radius: 120px 0 0 60px;

}

.dress2 #st1{

    height: 53px;

    width: 5px;

    background-color: var(--s-clr);

    position: relative;

    left: 45px;

}

#curtain{

height: 405px;

width: 330px;

position: relative;

top: -315px;

z-index: 55;

transition: all 0.25s ease;

}

#eye{

text-align: centre;

position: absolute;

margin: auto;

height: 50px;

width: 100px;

top: 0;

bottom: 0;

right: 0;

left: 0;

border: solid;

}

@keyframes blr {

0%{filter: blur(0px); background-color: rgb(0,0,0,0.1);

top: -15px;

}

25%,50%{background-color: rgb(220,220,220,0.2);

top: -715px;

backdrop-filter:blur(9px);

  -moz-backdrop-filter:blur(9px);

  -webkit-backdrop-filter:blur(9px);} 

100%{background-color: rgb(0,0,0,0);

top: 15px;

}

}

.dres{

transition: all 0.5s ease;

animation: chg 2s forwards;

}

@keyframes chg{

50%{background-color: var(--skn-clr);}

70%{background-color: var(--drs-clr);}

}

.dress3 #neck2{

    background-color: var(--skn-clr);

}

.dress3 #hand1{

    height: 118px;

    width: 30px;

    background-color: var(--skn-clr);

    position: relative;

    top: 2px;

    border-radius: 190px 0 0 0;

    float: left;

}

.dress3 #hand2{

    height: 118px;

    width: 30px;

    background-color: var(--drs-clr);

    box-shadow: inset 5px 0 5px var(--bd-sdw);

    border-radius: 0 190px 0 0;

    position: relative;

    top: 2px;

    left: 137px;

}

.dress3 #chest1{

    height: 65px;

    width: 70px;

    background-color: var(--drs-clr);

    z-index: 1;

    position: relative;

    left: 15px;

    top: -80px;

    border-radius: 60px;

    box-shadow: inset 0 -5px 2px var(--bd-sdw);

    float: left;

}

.dress3 #chest2{

    height: 65px;

    width: 70px;

    background-color: var(--drs-clr);

    z-index: 1;

    position: relative;

    left: 83px;

    top: -80px;

    border-radius: 60px;

    box-shadow: inset 0 -5px 2px var(--bd-sdw);

}

.dress3 #chest3{

    height: 50px;

    width: 167px;

    background-color: var(--sn-clr);

    z-index: 0;

    position: relative;

    top: -125px;

    border-radius: 48px 48px 0px 0px;

}

.dress3 #accr{

    height: 57px;

    width: 123px;

    background-color: var(--drs-clr);

    border-bottom: 0px rgb(255,210,0);

    position: relative;

    left: 37px;

    top: -140px;

    transform: rotate(-23deg);

    border-radius: 0px 20px 0px 0px;

}

.dress3 #chest4{

    height: 45px;

    width: 135px;

    background-color: var(--skn-clr);

    z-index: 0;

    border-radius: 90px 80px 90px 0;

    position: relative;

    left: 10px;

    top: -183px;

}

.dress3 #pony{

    height: 100px;

    width: 50px;

    z-index: 3;

    background-color: var(--r-clr);

    position: relative;

    top: -285px;

    left: 110px;

    border-radius: 100px 100px 0 70px;

}

.dress3 #waist1{

    height: 22px;

    width: 9px;

    z-index:1;

    background-color: var(--bg-clr);

    position: relative;

    top: -135px;

    left: 30px;

    border-radius: 0 120px 20px 0;

    float:left;

}

.dress3 #waist2{

    height: 22px;

    width: 9px;

    z-index:1;

    background-color: var(--bg-clr);

    position: relative;

    top: -135px;

    left: 128px;

    border-radius: 120px 0 0 20px;

}

.dress3 #st1{

    height: 53px;

    width: 5px;

    background-color: var(--s-clr);

    position: relative;

    left: 45px;

}

#hand3{

    height: 70px;

    width: 22px;

    z-index:2;

    position: relative;

    border-radius: 12px 7px 2px 2px;

    border-top: 100px solid var(--skn-clr);

    border-left: 1px solid transparent;

    border-right: 7px solid transparent;

    transform: rotate(-40deg);

    left: 115px;

    top: -346px;

    float: left;

}

#hand4{

    height: 70px;

    width: 22px;

    z-index:2;

    position: relative;

    top: -153px;

    left: 168px;

    border-radius: 2px 12px 2px 2px;

    border-top: 100px solid var(--skn-clr);

    border-left: 7px solid transparent;

    border-right: 1px solid transparent;

    transform: rotate(40deg);

}

#belly{

    height: 20px;

    width: 91px;

    background-color: var(--drs-clr);

    position: relative;

    z-index: -1;

    top: -367px;

    left: 115px;

    transform: perspective(25px) rotateX(10deg)

}

#belly1{

  height: 7px;

  width: 9px;

  border-radius: 7px;

  position: relative;

  left: 42px;

  top: -5px;

  background-color: var(--h-sdw);

}

#hip{

    height: 85px;

    width: 110px;

    background-color: #94a7c2;

    position: relative;

    z-index: -2;

    top: -402px;

    left: 105px;

    border-radius: 50px 50px 50px 50px;

    transform: perspective(6px) rotateX(5deg);

}

#hip2{

    height: 80px;

    width: 141px;

    background-color: #94a7c2;

    position: relative;

    z-index: -1;

    top: -395px;

    left: 90px;

    border-radius: 50px 50px 0px 0px;

    transform: perspective(9px) rotateX(-5deg);

}

#palm{

    height: 40px;

    width: 35px;

    z-index:2;

    background-color: var(--skn-clr);

    position: relative;

    top: -265px;

    left: 92px;

    border-radius: 130px 70px 10px 10px;

    transform: rotate(-57deg);

    box-shadow: inset 2px 0 2px var(--bd-sdw);

    float: left;

}

#palm2{

    height: 40px;

    width: 35px;

    z-index: 1;

    background-color: var(--skn-clr);

    position: relative;

    top: -233px;

    left: 152px;

    border-radius: 70px 170px 40px 40px;

    box-shadow: inset 2px 0 2px var(--bd-sdw);

    transform: rotate(57deg);

}

#finger1{

    height: 25px;

    width: 7px;

    background-color: var(--skn-clr);

    border-radius: 7px;

    position: relative;

    top: 27px;

    box-shadow: inset 1px 0 2px var(--bd-sdw);

    float: left;

}

#finger2{

    height: 28px;

    width: 7px;

    background-color: var(--skn-clr);

    border-radius: 7px;

    position: relative;

    top: 27px;

    left: 8px;

    box-shadow: inset 1px 0 2px var(--bd-sdw);

    float: left;

}

#finger3{

    height: 29px;

    width: 7px;

    background-color: var(--skn-clr);

    border-radius: 7px;

    position: relative;

    top: 27px;

    left: 8px;

    box-shadow: inset 1px 0 2px var(--bd-sdw);

    float: left;

}

#finger4{

    height: 20px;

    width: 7px;

    background-color: var(--skn-clr);

    border-radius: 7px;

    position: relative;

    top: 7px;

    left: 8px;

    float: left;

}

#finger5{

    height: 27px;

    width: 7px;

    background-color: var(--skn-clr);

    border-radius: 0 0 7px 7px;

    position: relative;

    top: 27px;

    left: 8px;

    box-shadow: inset 1px 0 2px var(--bd-sdw);

}

#finger6{

    height: 25px;

    width: 7px;

    background-color: var(--skn-clr);

    border-radius: 7px;

    position: relative;

    top: -7px;

    float: left;

}

#finger7{

    height: 28px;

    width: 7px;

    background-color: var(--skn-clr);

    border-radius: 7px;

    position: relative;

    top: -7px;

    left: 8px;

    float: left;

}

#finger8{

    height: 29px;

    width: 7px;

    background-color: var(--skn-clr);

    border-radius: 7px;

    position: relative;

    top: -7px;

    left: 8px;

    float: left;

}

#finger9{

    height: 20px;

    width: 7px;

    background-color: var(--skn-clr);

    border-radius: 7px;

    position: relative;

    top: -7px;

    left: 8px;

    float: left;

}

#finger10{

    height: 27px;

    width: 7px;

    background-color: var(--skn-clr);

    border-radius: 7px;

    position: relative;

    top: 27px;

    left: 8px;

}
